<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672026126433-bq0etvd8km2po6g9ojgjc7i9cfoc9eo6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672026126433-bq0etvd8km2po6g9ojgjc7i9cfoc9eo6</string>
	<key>API_KEY</key>
	<string>AIzaSyCMGEyDisSx9RLmNa2fc6WFgmvmnF6ycxk</string>
	<key>GCM_SENDER_ID</key>
	<string>672026126433</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-d8a81</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-d8a81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672026126433:ios:a70e4e7bfd2d19ca4f2220</string>
</dict>
</plist>